#######################################
# Telegram
#######################################

BOT_TOKEN=YOUR_BOT_TOKEN

#######################################
# Owner
#######################################

OWNER_ID=123456789

#######################################
# Database
#######################################

DATABASE=data/mirror.db

#######################################
# Downloads
#######################################

DOWNLOAD_DIR=downloads

#######################################
# Logging
#######################################

LOG_LEVEL=INFO

#######################################
# Retry
#######################################

MAX_RETRIES=3

#######################################
# Queue
#######################################

RATE_LIMIT_PER_MINUTE=60