# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Downloads
downloads/

# Logs
logs/
*.log

# Database
data/*.db

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store